html,
body,
.ember-view,
.leaflet-container {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
}

.map {
  width: 100%;
  height: 100%;
}

.map--scrolled {
  float: right;
  width: 60%;
}

.map-object-description {
  position: absolute;
  width: 40%;
  top: 0;
  bottom: 0;
  background-color: white;
  left: -40%;
}

.map-object-description--open {
  left: 0;
}

.map-object-description__inner {
  margin: 20px;
}
