$colorWhite: #ffffff;

html,
body,
.ember-view,
.leaflet-container {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
}

.map {
  width: 100%;
  height: 100%;
  transition: 0.5s width;
  float: right;
}

.map--scrolled {
  width: 30%;
}

.map-sidebar {
  position: absolute;
  width: 60%;
  top: 0;
  bottom: 0;
  background-color: $colorWhite;
  left: -60%;
  transition: 0.5s left;
}

.map-object-description {
  margin: 20px;
  clear: both;
}

.map-object-description__field {
  display: inline-block;
  vertical-align: top;
  width: 49%;
  padding: 5px 0;
}

@media (min-width: 768px) {
  .map-sidebar {
    width: 30%;
    left: -30%;
  }

  .map--scrolled {
    width: 70%;
  }
}

.map-sidebar--open {
  left: 0;
}
