<div class="map">
  <div class="leaflet-container">
  {{#leaflet-map onLoad="loadMap" onClick="clickOnEmptyArea" lat=lat lng=lng zoom=zoom as |layers|}}

    {{layers.tile url="http://{s}.tile.osm.org/{z}/{x}/{y}.png"}}

  {{/leaflet-map}}
  </div>
</div>
<div class="map-object-description">
  <div class="map-object-description__inner"></div>
</div>
{{outlet}}
